* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');


/* Body Styles */
body {
    font-family: 'Inter', sans-serif;
    color: #000;
    background-color: #fff;
    line-height: 1.3;
    letter-spacing: -0.1px;
    padding: 20px;
    padding-top: 25px;
    font-size:14px;
    font-weight: 400;

    display: flex;
    width: 100%;
}

/* Header */
header {
    flex:1;
    background-color: lightblue; 
    margin-right: 40px;
}

header .intro {
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 14.5px; 
}

header p {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom:20px;
}

.socials {
    display: flex;
    align-self: column;
    flex-direction: column;
    gap: 5px;
    line-height: 1.1;
    margin-bottom:10px;
}

.socials a {
    text-decoration: none;
    color: #000;
    text-decoration: underline;
}


/* Categories */
.categories {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 2;

}

.categories a {
    font-weight: 400;
    text-decoration: none;
    color: #000;
    text-decoration: underline;
}

.categories a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 11px;
    margin-top: 15px;
}

/* MAIN OF BODY , RIGHT SIDE Projects Section */

main {
    flex:3; /* 3 to 1 ratio for heading on side and projects in main */
    background-color: green;

}

.projects {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 14px;

    display: flex; 
    flex-direction: column;
    width:100%;
}

.project {
    margin-bottom: 20px; /*space between each project */
    background-color: yellow;
}


.project_title {
    font-weight: 400;
    margin-bottom: 5px;
    font-size:14.5px;
    text-decoration: underline;
}

.project_content {
    display: flex;
    width: 100%;
    gap: 30px; /*space between details and visuals */
}

.project_details {
    flex: 1;
    background-color: pink; /* Example background for clarity */
    padding: 0px; /* Optional padding for better spacing */
}

.project_description {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}

/* FOR THE y3K SHOOT */
#y3k_shoot .project_visuals {
    flex: 2;
    display: flex;
    background-color: red; /* Example background for clarity */
    padding: 0px; /* Optional padding for better spacing */
    gap: 20px; /* space between images */
    justify-content: space-between; 
}

/* styling for the individual images */
#y3k_shoot .project_visuals img {
    flex: 1;
    max-width: 23%;
    height: auto; 
    object-fit: cover;
  
}


.project_skills { 
    /* FIGURE OUT HOW TO CHANGE LINE HEIGHT/FONT WEIGHT FOR THIS */
}

/* FOR FIRST PROJECT */
/*
#y3k_shoot {
    display: flex;
    width: 100%;
}

#y3k_shoot .project_details {
    flex:1;
    background-color: pink; 
}

#y3k_shoot .project_visuals {
    flex:2;
    background-color: red;
} 
*/ 


/* Responsive Design */
/*
@media (max-width: 768px) {
    header h1 {
        font-size: 1rem;
    }

    .categories a {
        font-size: 1rem;
    }

    .project h2 {
        font-size: 1rem;
    }

    .project p {
        font-size: 0.9rem;
    }
}
    */
